:root {
    --background-color:#FFF;
    --text-color:#212121;
    --addition-color:#2196F3;
    --accent-color: #757575;
    --footer-color:#2F303A;
    --logo-color:#000;
    --portfolio-color:#757575;

}

/*  font-family: "Raleway", sans-serif;*/
/* font-family: "Roboto", sans-serif; */

body {
    font-family: "Roboto", sans-serif;
}

.header-logo {
    color: var(--logo-color);
    font-family: "Raleway", sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.38px;
letter-spacing: 0.78px;
}

.color-logo {
    color: var(--addition-color);

    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38px;
    letter-spacing: 0.78px;
}

.nav-link {
    color:var(--text-color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.14px;
letter-spacing: 0.28px;
}

.nav-link:hover {
    color: var(--addition-color);
}

.heder-link {
    color: var(--accent-color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.heder-link:hover {
    color: var(--addition-color);
}
/* секция кнопки */
.port-button {
    color: var(--text-color);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.6px; 
letter-spacing: 0.48px;
}
/* секція товари */


.goods-title {
    color: #212121;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 2.25x; 
letter-spacing: 1.08px;


}

.goods-text {
    color:var(--accent-color);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.8px; 
letter-spacing: 0.48px;
}
/* футер */


.address-link {
    color: var(--background-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.14px; 
letter-spacing: 0.42px;

}


.heder-link {
    color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
 