:root {
  --background-color: #fff;
  --text-color: #212121;
  --addition-color: #2196f3;
  --accent-color: #757575;
  --footer-color: #2f303a;
  --logo-color: #000;
  --foter-color: #2f303a;
}

a {
  text-decoration: none;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}


button {
  margin: 0;
  padding: 0;
  border: 0;
}
img {
  display: block;
}

/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

.main {
  background:var(--background-color);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  
}

body {
  font-family: "Roboto", sans-serif;
}

.box {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}

.color-logo {
  color: var(--addition-color);

  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700px;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.nav-list {
  display: flex;
  gap: 50px;
  margin-right: 295px;
}

.nav-link {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}


/* .nav-link:nth-child(1):hover {
  border-bottom:solid 4px  #2196f3 ;
  border-radius: 2px;
} */


.lin {
  color: var(--addition-color);
}

.nav-link:hover {
  color: var(--addition-color);
}

.nav-link:focus {
  color: var(--addition-color);
}

.heder-list {
  display: flex;
  gap: 30px;
}


.header-item {
  display: flex;
  align-items: center;
}

.heder-link {
  color: var(--accent-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.heder-link:hover  {
  color: var(--addition-color);
}

 .heder-link:focus {
   color: var(--addition-color);
 }


.header-item:hover .header-svg {
fill: #2196f3;
}


.heder-link:focus .header-svg {
fill: #2196f3;
}

.header-svg {
fill: #757575;
  margin-right: 5px;
}

/* .header-svg:focus {
  fill: #2196f3;
} */


/* секція герой */

.hero-sektion {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient( rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)),url(../img/hero-font.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}






.case {
  text-align: center;
}

.hero-title {
  color: var(--background-color);
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}

.hero-button {
  flex-shrink: 0;
  color: var(--background-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.96px;
  background-color: var(--addition-color);
  border-radius: 4px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* секція перевага */

.section-perewaga {
  padding-top: 94px;
}

.list-perewaga {
  display: flex;
  gap: 30px;
}

.perewaga-item::before {
  content: "";
  background-image: url(../img/antena.png.png);
 width: 270px;
 height: 120px;
 display: block;
 background-repeat: no-repeat;
  background-position:center;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-size: 70px;
  margin-bottom: 30px;
}


.perewaga-item:nth-child(2)::before {
content: "";
width: 270px;
height: 120px;
background-image: url(../img/clock.png.png);
display: block;
border-radius: 4px;
background-color: #F5F4FA;
background-size: 70px;
background-repeat: no-repeat;
background-position: center;
margin-bottom: 30px;
}



.perewaga-item:nth-child(3)::before {
content: "";
width: 270px;
height: 120px;
background-image: url(../img/diagram.png);
display: block;
border-radius: 4px;
background-color: #F5F4FA;
background-size: 70px;
background-repeat: no-repeat;
background-position: center;
margin-bottom: 30px;
}



.perewaga-item:nth-child(4)::before {
content: "";
width: 270px;
height: 120px;
background-image: url(../img/astronaut.png.png);
display: block;
border-radius: 4px;
background-color: #F5F4FA;
background-size: 70px;
background-repeat: no-repeat;
background-position: center;
margin-bottom: 30px;
}



.perewaga-title {
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;

}
.perewaga-text {
  color: var(--accent-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}



/* секція чим ми займаемося */

.work-sektion {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}


/* .work-img {
  position: relative;
} */

.work-list {
  display: flex;
  gap: 30px;
}

.work-li {
    position: relative;
}

.work-img {
  position: relative;
}

.work-div {
 background: rgba(47, 48, 58, 0.80);
 width: 370px;
height: 70px;
bottom: 0;
left: 0;
position: absolute;
}

.work-text {
color: #fff;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
position: absolute;
bottom: 27px;
left: 82px;

}

/* секція наша команда */

.tim-sektion {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.div-tim {
  padding-top: 30px;
  background-color: var(--background-color);
}

.comand-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.tim-list {
  display: flex;
  gap: 30px;
    background-color: #FFFFFF;
}
.tim-li {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.tim-img {
  width: 270px;
}

.title-tim {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.text-comand {
  color: var(--accent-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
/* 
.social-div {
  display: flex;
  gap:10px ;
  padding-bottom: 30px;
  justify-content: center;
} */

.social-list {
    display: flex;
  gap:10px ;
  padding-bottom: 30px;
  justify-content: center;
}

.social-link {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
background-color:#FFFFFF;
/* fill: #AFB1B8; */
}


.social-link:hover, .social-link:focus {
background-color: #2196f3;
}

.social-link:hover .social-svg {
  fill: #FFFFFF;
}

.social-link:focus .social-svg {
    fill: #FFFFFF;
}

.social-svg {
fill: #AFB1B8;
}

/* .social-svg {

} */


/* client */ 

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title {
  color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.client-list {
  display: flex;
  gap: 30px;
}


.client-link {
  padding-bottom: 16px;
padding-top: 56px;
padding-right: 32px;
padding-left: 32px;
  border-radius: 4px;
border: 1px solid #AFB1B8;
}

.client-svg {
  fill: #AFB1B8;
}

.client-link:hover .client-svg {
fill: #2196f3;
}

.client-link:focus .client-svg {
  fill: #2196f3;
}

/* .client-link:hover   {
  border-radius: 4px;
border: 1px solid #2196f3;
}

.client-link:focus {
    border-radius: 4px;
border: 1px solid #2196f3;
} */

/* футер */

.footer {
  background-color: var(--foter-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--background-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-color {
  color: var(--addition-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.address-link {
  color: var(--background-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 20px;
}
.foter-li {
  margin-top: 9px;
  margin-bottom: 9px;
}

.heder-link {
  color: var(--accent-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}


.join-title {
  color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}

.social-list {
  display: flex;
  gap: 10px;
}
.footer-social-link {
  display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
background-color:  rgba(255, 255, 255, 0.10);
}

.footer-social-link:hover,
 .footer-social-link:focus {
background-color: #2196f3;
}

.footer-social-link:hover .social-svg {
  fill: #FFFFFF;

}

.footer-social-link:focus .social-svg {
    fill: #FFFFFF;
}

.footer-box {
  display: flex;
  gap: 70px;
}







