:root {
    --background-color:#FFF;
    --text-color:#212121;
    --addition-color:#2196F3;
    --accent-color: #757575;
    --footer-color:#2F303A;
    --logo-color:#000;
  

}

/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */
body {
    font-family: "Roboto", sans-serif;
}



.logo {
    color: var(--logo-color);
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    line-height: 1.3px;
    font-weight: 700;
    letter-spacing: 0.78px;
}


.color-logo{
    color: var(--addition-color);
}
.nav-link {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500px;
    line-height:1.1 ;
}




.nav-email{
    color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height:1.1px ;      
    font-weight: 500px;
    font-size: 14px;
}

.nav-tel{
    color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height:1.1px ;      
    font-weight: 500px;
    font-size: 14px;
}
/* секція герой  */

.title{
    color: var(--background-color);
    font-family: "Roboto", sans-serif;
    line-height: 1.3px;
    font-size: 44px;
    text-align: center;
    font-weight: 900px;
}

.button  {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.8px;
    font-weight: 700px;



}

.wrap-button {
    text-align: center;
}

.hero-title{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700px;
    line-height: 1.1px;

}

.text-hero{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.7px;
    font-weight: 400px;
}

.title-section {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 700px;
    line-height: 1.1px;
}

/* секція сим ми займаемося */
.title-comand {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700px;
    line-height: 1.1px;
    text-align: center;

}
.duin-img {
    width: 370px;
height: 294px;
flex-shrink: 0;
}

/* секція наша команда */
.tim-img {
    width: 270px;
height: 260px;
flex-shrink: 0;
}

.title-tim {
    font-family: "Roboto", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height:1.1px ;
    text-align: center;
}

.text-comand {
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
    line-height: 1.1px;
    font-size: 16px;
    text-align: center;
}

.foter-logo {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    line-height: 1.3px;
    font-weight: 700;
}

.foter-address {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height:1.1px ;      
    font-weight: 500px;
    font-size: 14px
}

.foter-email {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height:1.1px ;      
    font-weight: 500px;
    font-size: 14px;
}

.footer-tel {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height:1.1px ;      
    font-weight: 500px;
    font-size: 14px;
}


    
     