
.footer {
  background-color: $foter-color;
  padding-top: 60px;
  padding-bottom: 60px;


  &__box {
      display: flex;
      align-items: baseline;
    }

        &__div {
          margin-right: 70px;
        }
    
        &__logo {
          color: $background-color;
          font-family: "Raleway", sans-serif;
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.38;
          letter-spacing: 0.78px;
        }
    
        &__color {
          color: $addition-color;
          font-family: "Raleway", sans-serif;
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.38;
          letter-spacing: 0.78px;
        }
    
        &__address-link {
          color: $background-color;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.42px;
          margin-top: 20px;
        }
    
    
    
        &__list {
          display: flex;
          flex-wrap: wrap;
          gap: 9px;
          margin-top: 9px;
          width: 231px;
    
        }
    
    
        &__link {
          color: $accent-color;
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.28px;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-property: color;
        }
    
        &__link:hover,
        &__link:focus {
          color: $addition-color;
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.28px;
        }
    
    
    
        &__join {
          margin-right: auto;
        }
    
    
        &__join-title {
          color: $background-color;
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.42px;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
    
        &__social-list {
          display: flex;
          gap: 10px;
        }
    
        &__social-link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 44px;
          height: 44px;
          border-radius: 50%;
          background-color: $main-link-color;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-property: background-color;
        }

                &__social-link:hover,
                &__-social-link:focus {
                  background-color: $addition-color;
                }
        
                &__social-link:hover &__social-svg {
                  fill: $background-color;
        
                }

                
&__social-svg {
    fill:$background-color;
      transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}


/* .footer-social-link:hover .footer-social-svg {
  fill: #FFFFFF;
}

.footer-social-link:focus .footer-social-svg {
    fill: #FFFFFF;
} */




&__subscribe-form {
  position: relative;
}



&__subscribe-lebel {
  display: block;
  color:$background-color;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}

&__subscribe-input {
  border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
width: 358px;
height: 50px;
color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
letter-spacing: 0.48px;
padding-left: 16px;
}




&__subscribe-button {
  margin-left: 12px;
  padding: 10px 62px 10px 29px;
  color:$background-color;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
border-radius: 4px;
background:$addition-color;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}



&__icon-telegram {
width: 24px;
height: 24px;
fill: $background-color;
position: absolute;
    right: 29px;
    top: 50px;
} 

&__social-svg {
  fill: $background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}



&__subscribe-form {
  position: relative;
}



&__subscribe-lebel {
  display: block;
  color: $background-color;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

&__subscribe-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(33, 150, 243, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  padding-left: 16px;
}




&__subscribe-button {
  margin-left: 12px;
  padding: 10px 62px 10px 29px;
  color: $background-color;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: $addition-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}



&__icon-telegram {
  width: 24px;
  height: 24px;
  fill: $background-color;
  position: absolute;
  right: 29px;
  top: 50px;
}
}









