
    $background-color: #fff;
    $text-color: #212121;
    $addition-color: #2196f3;
    $accent-color: #757575;
    $footer-color: #2f303a;
    $logo-color: #000;
    $foter-color: #2f303a;
    $background-accent: #F5F4FA;
    $svg-color:#AFB1B8;
    $main-link-color:rgba(255, 255, 255, 0.10);
    $puls-color:#1b7fd1;
    $button-color:188CE8;
    $border-color:#eee;